/* == REGION: HEADER is #1 of the 4 regions shown on every page
https://otwcode.github.io/docs/patterns/regions.html#header-region
notice that CSS3 declarations sit are indented twice (four spaces) and always come last
*/

#header input, #header #search>*, #header #search .submit {
  display: inline;
  float: none;
}

#header .landmark {
  clear: none;
  font-size: 0;
  border: none;
}

#header a, #header fieldset, #header form, #header p, #header li, #header h1, #small_login dl {
  background: transparent;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
    border-radius: 0;
    box-shadow: none;
}

#header {
  font-size: 0.875em;
  margin: 0 0 1em;
  padding: 0;
  position: relative;
}

#header li {
  display: block;
  float: left;
  position: relative;
}

#header a, #header a:visited, #header .primary .open a, #header .primary .dropdown:hover a, #header .primary .dropdown a:focus {
  color: #111;
}

#header .actions a:hover, #header .actions a:focus, #header .dropdown:hover a, #header .open a {
  background: #e8ebee;
}

#header .actions a:active, #header .dropdown:active a {
  background-color: #e3e3e3;
}

/* BRANDING: logo and title */

#header .heading {
  float: left;
  padding: 0.375em 0 0 0.375em;
  margin-bottom: -1.6em;
}

/* 1.714em x 14px = 24px */
#header .heading a {
  color: #111;
  font-size: 1.375em;
  font-family: Roboto, Verdana, Tahoma, Helvetica, Arial, sans-serif;
  line-height: 1.75em;
  text-transform: lowercase;
}

#header .heading a span {
  top: 0.2em;
  position: relative;
  padding-inline: 6px;
}

#header .heading a span:hover {
  border-radius: 3px;
  box-shadow: 0 0 0 1px gray;
  cursor: text;
} /* dumb edit box when you hover over the title */

/* 0.583em x 24px = 14px */
#header .heading sup {
  font-size: 0.583em;
  font-style: italic;
}

#header .logo {
  float: left;
  width: 48px;
  height: 48px;
  margin: 4px;
  border-radius: 50%;
  position: relative;
}

#header .logo:hover, #header .logo:focus {
  background-color: #e8ebee;
}

#header .logo:active {
  background-color: #e3e3e3;
}

/* DIFF: cannot use a replacement image in the skin version; make a rough non-circular approximation
#header .logo {
  float: left;
  max-width: 1.8em;
  height: auto;
  margin: 0.2em;
  position: relative;
  left: 0.625em;
  top: 0.625em;
}
 */

/* ACTION: dropdown */

#header .menu, #small_login {
  background: #fff;
  display: none;
  padding: 0.375rem 0;
  border-radius: 4px;
  position: absolute;
  width: 20em;
  z-index: 55;
  box-shadow: 0 0 10px #00000030;
}

#header .open .menu, #header .dropdown:hover .menu, .open + #small_login, #header .menu li {
  display: block;
  float: none;
}

#header .menu li {
  margin: 0 0.125rem;
  text-align: left;
}

#header .menu li:last-child {
  border-bottom: none;
}

#header .dropdown .menu a {
  background: transparent;
  display: block;
  padding: 0.75em 0.5em 0.5em;
}

#header .dropdown .menu a:hover, #header .dropdown .menu a:focus {
  background: #e8ebee;
}

#header .dropdown .menu a:active {
  background-color: #e3e3e3; /* kinda light gray active */
}

/* login and greeting */

#login, #greeting {
  float: right;
  margin-right: 0.375em;
  margin-top: 0.25em;
  display: flex;
  flex-direction: row;
}

#header .user {
  padding: 0.429em 0 0;
  position: relative;
  z-index: 20;
  order: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header .user a, #small_login .action {
  padding: 0.25em 0.75em;
}

#login .open a:hover, #login .open a:focus {
  background: #e8ebee;
}

#login .open a:active {
  background: #e3e3e3;
}

/* DIFF: no login for site skin */

#greeting .user > li {
  margin: 0 0.125em;
}

#greeting .menu {
  right: 0;
  box-shadow: 0 0 10px #00000030;
}

#greeting .dropdown .menu a {
  border-radius: 0;
}

#greeting .dropdown:first-child { /* hi, name */
  order: 3;
}

#greeting .dropdown:first-child a.dropdown-toggle {
  background-color: #c3e7ff;
  border-radius: 20px;
  padding: 11px 15px 11px 15px;
  color: #001d35;
}

#greeting .dropdown:first-child a.dropdown-toggle:hover {
  background-color: #b2d7ef;
  outline: none;
}

#greeting .dropdown-toggle[href="/works/new"] {
  font-size: 0px;
  padding: 20px;
  margin-right: 10px;
  border-radius: 50%;
  background-image: url("https://raw.githubusercontent.com/google/material-design-icons/refs/heads/master/png/image/edit/materialiconsoutlined/48dp/2x/outline_edit_black_48dp.png");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

#greeting a[href^="/users/logout"] {  /* url is a bit different for remember me */
  font-size: 0px;
  padding: 20px;
  margin-right: 10px;
  border-radius: 50%;
  background-image: url("https://raw.githubusercontent.com/google/material-design-icons/refs/heads/master/png/action/exit_to_app/materialiconsoutlined/48dp/2x/outline_exit_to_app_black_48dp.png");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

#greeting p.icon {
  order: 2;
  border-radius: 50%;
  margin-inline: 0.625rem;
  margin-block: 0;
  float: right;
  height: auto;
  padding: 0.25rem;
  line-height: 0;
  width: auto;
}

#greeting p.icon a {
  display: block;
  padding: 0;
}

#greeting img.icon {
  height: 2.25rem;
  width: 2.25rem;
    background-size: 100%;
}

/* FORM: login */

#small_login {
  background: #f0f4f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.375em;
  right: 0;
  z-index: 10;
  box-shadow: none;
} /* DIFF: no login for site skin */

#small_login form {
  margin-top: 1.286em;
}

#small_login dt, #small_login dd {
  margin: 0;
  width: 99%;
}

#small_login dt, #small_login .submit {
  border-bottom: none;
  padding: 0.375em 0 0;
}

#small_login .actions {
  float: none;
  text-align: left;
}

#small_login .footnote {
  float: left;
  font-size: 0.857em;
  padding: 0.375em 0;
}

#small_login .footnote li {
  padding: 0 0.25em;
}

.dropdown #small_login .footnote a {
  background: transparent;
  border-bottom: 1px solid;
}

/* primary navigation */

#header .primary {
  padding: 0;
  width: 100%;
}

#header .primary > li:first-of-type {
  margin-left: 60px;
}

#header .primary a {
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  color: #111;
}

/* square off bottom corners when the dropdown is visible */
#header .primary a:hover, #header .primary .open a {
  border-radius: 0.25em 0.25em 0 0;
}

#header .primary .menu a {
  color: #111;
  padding: 0.75em 0.5em 0.5em;
}

/* search */

#header .search {
  float: left;
  color: #2a2a2a;
  margin-right: 0.25em;
}

#header #search input:focus {
  color: #2a2a2a;
  outline: 1px dotted;
}

#header #search .text, #header #search .button {
  border: none;
}

/* 0.2857em x 14px = 4px because the input has a padding of 0.15em x 14px = 2px and it needs to match 0.429em x 14px = 6px */
#header #search .text {
  margin: 0.2857em 0.429em;
}

#header #search .button {
  margin: 0;
}

/* CONTEXT: collections */

#header h2 {
  border-top: 1px solid;
  clear: both;
  color: #fff;
  display: block;
  font-size: 1.714em;
  line-height: 1.5;
  margin: 0;
  padding: 0 0.375em;
    text-shadow: none;
}

/* END == */
