/* == REGION: DASHBOARD is #2 of the 4 regions shown on every page
https://otwcode.github.io/docs/patterns/regions.html#dashboard-region
*/

#dashboard {
  width: 15.5em;
  float: left;
  padding: 0 1em;
}

#dashboard li {
  padding: 0;
}

#dashboard a, #dashboard span {
  color: #444;
  display: block;
  white-space: normal;
  height: auto;
  line-height: 2;
  padding: 0.3em 1.3em;
  margin: 0;
  border-radius: 1.3em;
  border: none;
  background: transparent;
    word-wrap: break-word;
    box-shadow: none;
}

#dashboard a:hover {
  background: #f0f0f0;
  color: #041e49;
}

#dashboard a:active {
  background: #e9e9e9;
}

#dashboard ul {
  float: none;
  display: block;
  padding: 1.286em 0;
  text-align: left;
  border-top: 2px solid #ddd;
  position: relative;
}

#dashboard .current {
  background: #d3e3fd;
}

#dashboard .current:hover {
  background: #c2d3ef; /* unnecessary flavor */
}

#dashboard .secondary {
  right: auto;
}

#dashboard.own {
  background: transparent;
    opacity: 1.0;
    border-radius: 0.25em;
}

/* END == */
