/* == REGION: MAIN is #3 of the 4 regions shown on every page
https://otwcode.github.io/docs/patterns/regions.html#main-region
*/

#main {
  font-size: 0.875em;
  line-height: 1.286;
  background-color: white;
  margin: auto 10%;
  border-style: solid;
  border-width: 1px;
  border-color: #c7c7c7;
  border-bottom: none;
  padding: clamp(6vw, 1in, 10vw);
  position: relative;
  min-height: 450px;
}

#main:after {
  content: " ";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

#main.dashboard {
  padding: clamp(6vw, 1in, 10vw);
  margin: auto clamp(6vw, 1in, 10vw) auto 20em;
}

#main.home {
  padding: 2em 7.5em 3.5em;
}

#main.errors {
  background: url("/images/ao3_logos/sadface.png") top right no-repeat;
}

#main.error-502 {
  background: url("/images/ao3_logos/ao3-502.png") top right no-repeat;
}

#main.error-503-maintenance {
  background: url("/images/ao3_logos/logo-ruby.png") top right no-repeat;
}

#main.session {
  background: url("/images/logo.png") 0.5em 3em no-repeat;
}

#main.authentication {
  background: none;
}

#main.errors h2 {
  display: block;
  margin-top: 0;
}

#main.errors p, #main.errors .heading {
  margin-right: 325px;
}

/* END == */
