/* == REGION: FOOTER is #4 of the 4 regions shown on every page
https://otwcode.github.io/docs/patterns/regions.html#footer-region
*/

#footer {
  background: #f9fbfd;
  color: #000;
  float: left;
  position: relative;
  padding: 0;
  width: 100%;
  display: flex;
}

#footer ul {
  background-color: #fff;
  border: solid 1px #c7c7c7;
  border-top: none;
  clear: both;
  margin: 0 10% 2em 10%;
  padding: clamp(6vw, 1in, 10vw);
  padding-top: 0;
  float: left;
  text-align: left;
  width: 100%;
  display: flex;
}

#outer.wrapper:has(#main.dashboard) #footer ul {
  margin-left: 17.5rem;
  margin-right: clamp(6vw, 1in, 10vw);
}

#outer.wrapper:has(#main.dashboard) #footer .menu {
  margin: 0;
}

#footer li {
  position: relative;
  display: block;
}

#footer a, #footer button {
  background: transparent;
  border: 0;
  font-weight: 400;
  margin: auto;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
    box-shadow: none;
    border-radius: 0;
  color: #000;
  display: inline;
  text-decoration: none;
  line-height: 1.5;
  white-space: normal;
    text-underline-position: under;
  word-wrap: break-word;
}

#footer button {
  cursor: pointer;
  text-align: start;
  height: unset;
}

#footer a:hover, #footer button:hover,
#footer a:focus, #footer button:focus {
  text-decoration: underline;
}

#footer .module {
  border: 1px solid #000;
  margin-left: -1px;
  padding: 0.75em;
}

#footer .menu {
  border: none;
  display: inline;
  margin: 0;
  padding: 0;
}

#footer h4 {
  display: block;
  color: #000;
  font-family: Roboto, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, sans-serif, 'GNU Unifont';
  font-weight: bold;
  font-size: 1em;
  margin: 0;
}

/* END == */
