/* == ACTIONS: buttons!
https://otwcode.github.io/docs/patterns/actions.html
subtypes:
.action, .navigation, .sorting, .submit, .cancel, .close, .delete, .pagination, .current, .landmark, #skiplinks
input[type="submit"], button
*/

.actions * {
  display: inline;
}

ul.actions, p.actions, li.actions, span.actions, fieldset.actions, dd.actions {
  padding: 0;
  margin: 0;
  float: right;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: end;
}

ul.actions {
  padding-bottom: 0;
  padding-top: 0;
}

.actions a, .actions a:link, .action, .action:link, .actions button, .actions input, input[type="submit"], button, .current, .actions label {
  background: none;
  color: #444;
  width: auto;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.286;
  height: 1.286em;
  vertical-align: middle;
  display: inline-block;
  padding: 0.25em 0.75em;
  white-space: nowrap;
  overflow: visible;
  position: relative;
  text-decoration: none;
  border: none;
    border-radius: 0.25em;
    box-shadow: none;
}

button {
  font-family: Roboto, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, sans-serif, 'GNU Unifont';
  box-sizing: content-box;
}

label.action {
  padding: 0.15em 0.375em;
}

input[type="submit"], .action.modal-closer {
  height: auto;
  white-space: normal;
  color: #fff;
  padding: 0.3em 1.3em;
  border-radius: 1.3em;
  background: #0b57d0;
}

p.submit, input.submit, dd.submit {
  text-align: right;
}

.actions input[type="checkbox"] {
  background: transparent;
  border: none;
  padding: 0;
}

.actions li select, .actions li label input[type="checkbox"] {
   margin: 0;
 }

/* subtypes and modes
test note: this pagination clear needs to be kept an eye on */

ol.pagination, div.pagination, ol.year {
  text-align: center;
  clear: right;
  margin: 0.643em auto;
}

.actions a:visited, .action:visited, .action a:link, .action a:visited {
  color: #111;
}

.actions a:hover, .actions button:hover, .actions input:hover, .actions a:focus, .actions button:focus, .actions input:focus, label.action:hover, .action:hover, .action:focus {
  background-color: #e8ebee;
}

input[type="submit"]:hover, input[type="submit"]:focus, .action.modal-closer:hover, .action.modal-closer:focus {
  background-color: #1e64d4;
}

input[type="submit"]:hover, .action.modal-closer:hover {
  box-shadow: 0 2px 5px #00000030;
}

.actions a:active, .current, a.current, a:link.current, .current a:visited {
  color: #111;
  background: #e3e3e3;
}

input[type="submit"]:active, .action.modal-closer:active {
  background-color: #3574d8;
  box-shadow: none;
}

.actions label.disabled {
  background: #ccc;
}

.actions .disabled select {
   background: transparent;
   color: #111;
   border-color: #aaa;
 }

.actions li a, .actions li button, .actions li input, .actions li input[type="submit"], .actions li .current, .actions li label {
  margin: 0.375em auto;
}

.delete a, span.delete {
  border: 0;
  color: #900;
  font-weight: 900;
  margin-right: 0.375em;
  padding: 0 0.1em 0.15em;
    border-radius: 0.875em;
}

span.delete a {
  margin: 0 0.2em;
    box-shadow: none;
}

ul#skiplinks, .landmark, .landmark a, .index .heading.landmark {
  font-size: 0;
  line-height: 0;
  height: 0;
  margin: 0;
  clear: both;
  color: transparent;
    opacity: 0;
}

h2.landmark {
  display: block;
}

.secondary {
  background: #fff;
  position: absolute;
  z-index: 54; /* lower than the z-index of #header .menu */
  margin: auto;
  padding: 0 0.375em;
  overflow: hidden;
  right: 2.5em;
    box-shadow: 0 0 10px #00000030;
    border-radius: 0.25em;
}

/* CONTEXTS */

legend .action:link {
  position: static;
}

.heading .actions, .heading .action, .heading span.actions {
  height: auto;
  font: 100 75%/1.286 Roboto, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, sans-serif, 'GNU Unifont';
  padding: 0.15em 0.375em;
}

.heading .actions button {
  padding: 0.25em 0.75em;
  margin-left: 0.25em;
}

th .actions, td .actions {
  float: none;
}

dl.stats + .landmark + .actions, .mystery .summary + .landmark + .actions {
  clear: none;
  float: left;
  margin: 0 auto;
}

.actions .secondary .submit, .nomination .actions {
  float: none;
}

.dashboard .landmark {
  clear: right;
}

.actions .landmark {
  clear: none;
}

.actions a.symbol, .action a {
  border: 0;
  background: none;
  padding: 0 0 0.15em 0;
}

.many p.actions {
  float: none;
  text-align: right;
}

.concise label.action {
  float: left;
}

dd.any label.action {
  margin-left: 0.5625em;
}

dl.index p.actions {
  margin: 0;
}

/* context: work navigation actions with secondary navigation */

.work.navigation {
  position: fixed;
  top: 5em;
  left: 1em;
  right: 1em;
  float: left;
  z-index: 50;
  justify-content: start;
  background: #f0f4f9;
  border-radius: 2em;
  padding-inline: 1em;
}

.work.navigation > li {
  padding-left: 0.3em;
}

.work.navigation > li > a:hover, .work.navigation > li > button:hover, .work.navigation > li > form > button:hover {
  background-color: #e2e7ea;
}

.work.navigation > li > a:active, .work.navigation > li > button:active, .work.navigation > li > form > button:active {
  background-color: #d8dfe4;
}

.work.navigation .add:not(:first-child):before, .work.navigation .chapter.entire:not(:first-child):before, .chapter.bychapter:not(:first-child):before, .work.navigation .bookmark:not(:first-child):before, .work.navigation .comments:not(:first-child):before {
  content: ' ';
  border-left: 1px solid #c7c7c7;
  padding: 0.1em 0.15em;
}

.work.navigation .add a, .work.navigation .edit:not(.tag) a, .work.navigation .chapter:not(.entire):not(.bychapter) > a, .work.navigation .chapter button, .work.navigation .bookmark a, .work.navigation .comments a, .work.navigation .share a, .work.navigation .download button {
  font-size: 0;
  width: 1.25rem;
  height: 1.25rem;
  background-size: 1.25rem;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0.25rem;
  border-radius: 0.2rem;
}

.work.navigation .chapter button, .work.navigation .download button {
  width: 2.25rem;
  background-position-x: 0.25rem;
}

.work.navigation .chapter button:after, .work.navigation .download button:after {
  padding: 0 0 0 1rem;
  font-size: 0.875rem;
}

.work.navigation .add a {
  background-image: url("https://raw.githubusercontent.com/google/material-design-icons/refs/heads/master/png/content/add/materialiconsoutlined/48dp/2x/outline_add_black_48dp.png");
}

.work.navigation .edit:not(.tag) a {
  background-image: url("https://raw.githubusercontent.com/google/material-design-icons/refs/heads/master/png/image/edit/materialiconsoutlined/48dp/2x/outline_edit_black_48dp.png");
}

.work.navigation .chapter.previous a {
  background-image: url("https://raw.githubusercontent.com/google/material-design-icons/refs/heads/master/png/navigation/chevron_left/materialiconsoutlined/48dp/2x/outline_chevron_left_black_48dp.png");
}
.work.navigation .chapter.next a {
  background-image: url("https://raw.githubusercontent.com/google/material-design-icons/refs/heads/master/png/navigation/chevron_right/materialiconsoutlined/48dp/2x/outline_chevron_right_black_48dp.png");
}

.work.navigation .chapter button {
  background-image: url("https://raw.githubusercontent.com/google/material-design-icons/refs/heads/master/png/editor/format_list_numbered/materialiconsoutlined/48dp/2x/outline_format_list_numbered_black_48dp.png");
}

.work.navigation .bookmark a.bookmark_form_placement_open { /* bookmark add / edit */
  background-image: url("https://raw.githubusercontent.com/google/material-design-icons/refs/heads/master/png/action/bookmark_add/materialiconsoutlined/48dp/2x/outline_bookmark_add_black_48dp.png");
}
.work.navigation .bookmark a.hidden {
  background-image: url("https://raw.githubusercontent.com/google/material-design-icons/refs/heads/master/png/action/bookmark_remove/materialiconsoutlined/48dp/2x/outline_bookmark_remove_black_48dp.png");
}

.work.navigation .comments a {
  background-image: url("https://raw.githubusercontent.com/google/material-design-icons/refs/heads/master/png/communication/comment/materialiconsoutlined/48dp/2x/outline_comment_black_48dp.png");
}

.work.navigation .share a {
  background-image: url("https://raw.githubusercontent.com/google/material-design-icons/refs/heads/master/png/social/share/materialiconsoutlined/48dp/2x/outline_share_black_48dp.png");
}

.work.navigation .download button {
  background-image: url("https://raw.githubusercontent.com/google/material-design-icons/refs/heads/master/png/file/file_download/materialiconsoutlined/48dp/2x/outline_file_download_black_48dp.png");
}

.work.navigation .download {
  display: block;
  margin-block-start: 0;
  padding: 0.375em 0 0.643em;
}

.work.navigation .download .secondary {
  position: static;
}

/* The next two rule sets move the default .secondary style to the secondary's
parent when JavaScript is disabled and put it back when it's enabled. */
.work.navigation .download, .javascript .work.navigation .download .secondary {
  background: #fff;
    box-shadow: 0 0 10px #00000030;
}

.work.navigation .download .secondary, .javascript .work.navigation .download {
  background: transparent;
  border: none;
    box-shadow: none;
}

.javascript .work.navigation li {
  display: inline-block;
  margin-block: 0;
  position: relative;
}

.javascript .work.navigation .download {
  padding: 0 0 0 0.25em;
}

/* The top position is part of a workaround for the behavior described here:
https://otwarchive.atlassian.net/browse/AO3-4629?focusedCommentId=372231
  0.375em for top margin
+ 1.286em for height
+ 0.25em * 2 for top and bottom padding (buttons use content-box)
+ 0.25em to compensate for borders */
.javascript .work.navigation .secondary {
  position: absolute;
  right: auto;
  top: 2.411em;
    align-items: center;
    gap: 0 0.643em;
    justify-content: space-evenly;
}

/* If we use display without the .expanded qualifier, it will override .hidden's
display: none and secondary will always be open. */
.javascript .work.navigation .expanded + .secondary {
    display: flex;
}

.javascript .work.navigation .download .secondary {
  z-index: 53;
    gap: 0.25em;
}

.javascript .work.navigation .secondary p {
  padding: 0;
    align-items: center;
    display: flex;
    gap: 0 0.25em;
}

.javascript .work.navigation .secondary .actions {
  padding: 0;
}

/* END== */
