/* == GROUP: META
https://otwcode.github.io/docs/patterns/meta.html
*/

dl.meta {
  clear: right;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: max-content auto;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.meta dt {
  float: left;
  clear: left;
  margin: 0 -1px -1px 0;
  padding: 0.5em;
  border: 1px solid #000;
}

.meta dd {
  float: left;
  margin: 0 -1px -1px 0;
  padding: 0.5em;
  border: 1px solid #000;
}

.meta .stats dl {
  float: left;
  margin-top: 0;
  display: grid;
  grid-template-columns: auto auto;
}

dl.meta dd ul li, .meta .stats dl, .meta .stats dl dt, .meta .stats dl dd {
  padding-inline-start: 0;
}

.meta .stats dl dt, .meta .stats dl dd {
  border: none;
  text-align: left;
  padding: 0 0.75em 0 0.125em;
  width: 100%;
  min-width: 0;
  clear: none;
  float: left;
}

.meta .stats dl dd {
  padding-inline-end: 0.75em;
}

.meta p {
  display: block;
  margin-top: 0;
}

.meta dd ul li {
  display: inline;
  margin: auto;
  padding-inline-end: 0.5em;
}

.meta dd blockquote {
  margin: 0;
}

/* mod: wrapped data */

dl.meta:has(.wrapper) {
  padding-block: 0;
}

dl.meta .wrapper {
  float: left;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-block: 1.286em;
    box-shadow: none;
}

dl.meta .wrapper:last-of-type {
  border-bottom: none
}

dl.meta .wrapper dd, dl.meta .wrapper dd p:last-of-type {
  margin: 0;
}

/* CONTEXTS */

.dashboard .meta .clear {
  clear: none;
  clear: right;
}

.news .wrapper {
    box-shadow: none;
}

.news dl.meta {
  border: none;
  padding: 0;
}

.news .meta dt, .news .meta dd, .news .meta ul {
  display: inline;
  float: none;
  margin-left: 0;
}

.news .meta dd:after {
  content: " ";
  display: block;
  height: 0.643em;
}

/* TODO the post new work form needs its classes changed so these overrides are no longer needed */

.post .meta dl {
  padding: 0;
  display: grid;
  grid-template-columns: max-content auto;
}

.post .meta dt, .post .meta dd {
  border: none;
  margin: 0.25em 0;
}

.post .meta dd ul li {
  display: block;
}

.post .meta dd ul li:after {
  content: none;
}

/* END == */
